@import "../../assets/styles/breakpoints";

// media devices
@mixin xs {
    @media screen and (max-width: #{$screen-xs-max}) {
        @content;
    }
}

@mixin sm {
    @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
        @content;
    }
}

@mixin xxl {
    @media screen and (min-width: #{$screen-xxl-min}) {
        @content;
    }
}

// media lt queries
@mixin lt-sm {
    @media screen and (max-width: #{$screen-xs-max}) {
        @content;
    }
}

@mixin lt-md {
    @media screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin lt-lg {
    @media screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lt-xl {
    @media screen and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

// media gt queries
@mixin gt-xs {
    @media screen and (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin gt-sm {
    @media screen and (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin gt-md {
    @media screen and (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin gt-lg {
    @media screen and (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin md-to-xl {
    @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-xl-max}) {
        @content;
    }
}