@import "react-untitled-ui/src/styles/global";

.indexPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;

    .card {
        background: white;
        border-radius: 16px;
        border: 1px solid var(--untitled-blue-gray--100);
        transition: transform .2s, box-shadow .2s;
        cursor: pointer;
        overflow: hidden;
        
        &:hover {
            @include untitled-effect-shadow-xl;
            transform: translate(0, -2px);
        }

        img.cardImage {
            width: 100%;
            height: auto;
            aspect-ratio: auto 768 / 400;
            background-color: #f2f4f7;
        }

        .cardContent {
            padding: 20px;
            color: var(--untitled-gray--600);

            h4.cardTitle {
                @include untitled-text-text-md-semibold;
                color: var(--untitled-gray--700);
            }

            p.cardDescription {
                @include untitled-text-text-sm-normal;
                color: var(--untitled-gray--700);
            }
        }
    }
    
    .divider {
        grid-column: 1 / -1;
    }
}