@import "react-untitled-ui/src/styles/global";

.componentsContainer {
    width: 100%;
    
    .componentsTitle {
        color: var(--untitled-gray--800);
        @include untitled-text-text-lg-semibold;
        margin-top: 36px;
        grid-column: span 7;
    }
    
    .componentsParagraph {
        color: var(--untitled-gray--600);
        @include untitled-text-text-md-normal;
        margin-top: 4px;
        grid-column: span 7;
        
        code {
            padding: 0.1rem 0.4rem;
            background-color: var(--untitled-blue-gray--50);
            border-radius: 0.1785rem;
            font-size: 90%;
            color: var(--untitled-primary--700);
        }
    }
    
    .componentsShowcase {
        display: flex;
        gap: 24px;
        margin-top: 16px;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .componentsDivider {
        width: 100%;
        margin: 12px 0;
        grid-column: span 7;
    }
}