@import "react-untitled-ui/src/styles/global";

@mixin loading {
    color: var(--untitled-gray--50) !important;
    background-color: var(--untitled-gray--50);
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    height: 24px;
}

.fieldContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;

    @include lt-sm {
        padding: 0 16px;
    }

    .field {
        display: flex;
        align-items: start;
        width: 100%;
        max-width: 824px;
        gap: 24px;
        padding: 10px 0;

        @include lt-sm {
            flex-direction: column;
            gap: 6px;
        }

        .fieldLabel {
            @include untitled-text-text-sm-medium;
            color: var(--untitled-gray--700);
            width: 100%;
            min-width: 100px;
            max-width: 35%;

            @include lt-md {
                max-width: 20%;
            }

            @include lt-sm {
                max-width: 100%;
            }

            span {
                display: block;
                @include untitled-text-text-sm-normal;
                color: var(--untitled-gray--500);
            }
        }

        .fields {
            width: 100%;
            max-width: 512px;
            display: flex;
            gap: 24px;

            @include lt-sm {
                gap: 20px;
            }
        }
    }
}

.title {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    
    &.table {
        @include lt-xl {
            margin-bottom: 10px;
        }
    }

    @include lt-sm {
        display: none;
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.table .fieldContainer {
        .field, .fields {
            max-width: initial;
        }
        
        .field {
            @include lt-xl {
                flex-direction: column;
                gap: 24px;
            }
        }
        
        .fieldLabel {
            @include lt-xl {
                max-width: 100%;
            }
        }
    }

    .formActions {
        padding: 0 32px;

        @include lt-sm {
            padding: 0 16px;
        }
    }
}