@import "react-untitled-ui/src/styles/global";

.userCell {
    display: flex;
    align-items: center;
    width: 100%;
    
    .avatar {
        max-width: 32px;
    }
    
    .userInfo {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .name {
            @include untitled-text-text-sm-medium;
            color: var(--untitled-gray--700);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .email {
            @include untitled-text-text-xs-normal;
            color: var(--untitled-gray--500);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}