@import "react-untitled-ui/src/styles/global";

.formActions {
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: end;
    
    button {
        min-width: 100px;

        @include lt-sm {
            min-width: initial;
        }
    }
}