@import "src/core/styles/breakpoints";

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 72px;
    background-color: white;
    border-bottom: 1px solid var(--untitled-blue-gray--100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 8;
    
    .menu {
        cursor: pointer;
    }
    
    @include gt-sm {
        display: none;
    }
}