@import "src/core/components/sidebar/sidebar.module";

.layout {
    display: flex;
    width: 100vw;
    max-height: 100vh;
    
    &[data-variant="full-width"] .editView {
        padding: 0;
        max-width: initial;
    }

    .editView {
        flex-grow: 1;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
        max-height: 100vh;
        
        @include lt-md {
            padding-top: 92px;
        }
        
        .content {
            width: 100%;
            padding-bottom: 30px;
        }
    }
}