.logo {
    display: inline-flex;
    align-items: center;
    
    .text {
        margin-left: 9.83px;
        min-width: 101px;
        height: 17px;
        color: var(--untitled-gray-900);
    }
}