@import "react-untitled-ui/src/styles/mixins";

.filePreview {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--untitled-primary--600);
    display: flex;
    cursor: pointer;
    
    .icon {
        min-width: 32px;
        width: 32px;
        height: 32px;
        background: var(--untitled-primary--100);
        border-radius: 50%;
        border: 4px solid var(--untitled-primary--50);
        color: var(--untitled-primary--600);
        display: flex;
        align-items: center;
        justify-content: center;
        
        svg {
            width: 16px;
            height: 16px;
        }
    }
    
    .info {
        width: 100%;
        margin-left: 16px;
        
        .name {
            @include untitled-text-text-sm-medium;
            color: var(--untitled-gray-700);
        }
        
        .size {
            @include untitled-text-text-sm-normal;
            color: var(--untitled-gray-500);
            margin-bottom: 4px;
        }
    }
    
    .tick {
        width: 16px;
        height: 16px;
        background: var(--untitled-primary--600);
        border: 1px solid var(--untitled-primary--600);
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 16px;
        
        svg {
            width: 10px;
            height: 10px;
        }
    }
}